@import 'tailwindcss';

@theme {
  --color-brand-50: #fffbeb;
  --color-brand-100: #fef3c7;
  --color-brand-200: #fde68a;
  --color-brand-300: #fcd34d;
  --color-brand-400: #fbbf24;
  --color-brand-500: #882627; /* primary = brand */
  --color-brand-600: #6f1f20; /* hover/focus */
  --color-brand-700: #92400e;
  --color-brand-800: #78350f;
  --color-brand-900: #451a03;

  --color-bg: #0b0b0b;
  --color-surface: #111111;
  --color-border: #262626;
  --color-text: #fafafa;
  --color-muted: #a1a1aa;

  --font-sans:
    ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Inter, 'Helvetica Neue', Arial,
    'Noto Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;

  --spacing-3_5: 0.875rem;
}

:root {
  color-scheme: light dark;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-sans);
}

/* Light theme overrides */
[data-theme='light'] {
  --color-bg: #ffffff;
  --color-surface: #f9fafb; /* zinc-50 */
  --color-border: #e5e7eb; /* gray-200 */
  --color-text: #0a0a0a; /* near-black */
  --color-muted: #6b7280; /* gray-500 */
}
